@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 


.main-startup-page {
    padding: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    background-attachment: fixed; background-image: linear-gradient(to bottom, #293e4a, #3c5a6d);
}

.main {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat; 
    background-attachment: fixed; background-image: linear-gradient(to bottom, #333333, #13547a);
    background-attachment: fixed; background-image: linear-gradient(to bottom, #293e4a, #3c5a6d);
    height: 100vh;
    justify-content: center;
}

.about {
    padding-top: 100px;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.navbar a {
    color: #eeeeef;
}

.navbar a:visited {
    color: #eeeeef;
}

.navbar a:hover {
    color: #cccccd;
    text-decoration: none;
}

.navbar-sign-in {
    font-size: 16px;
    font-weight: bold;
}