@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


.main-homepage-root-container {
    position: relative;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

.main-homepage-root-content-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.main-homepage-content-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1100px;
}

.homepage-feed {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 700px; 
}

@media screen and (max-width: 700px) {
    .homepage-feed {
        width: 100%; 
    }

    .main-homepage-content-container {
        width: 100%;
    }
}

