@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


.main-homepage-root-container {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

.main-homepage-content-container {
    display: flex;
    justify-content: center;
}

.homepage-feed {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 700px; 
}

/*
.main-startup-page {
    padding: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
}*/

/*
.title {
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    text-align: left;
    font-size: 1.8rem;
    font-style: bold;
}

.gamer {
    width: 25%;
    margin: auto;
}

@media (max-width: 1600px) {
    .gamer {
        width: 50%;
        margin: auto;
    }
}*/