.game-container {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
}

.game-name {
    white-space: nowrap;
    overflow: hidden;
    width: 195px;
}

.game-image img {
    object-fit: cover;
    width: 200px;
    height: 110px;
}

.favorite-games-cards-slider {
    padding-left: 5px;
}

.slick-prev:before,
.slick-next:before {
  color: #555555 !important;
}