.main-post {
    background-color: green;
    max-width: 500px;
    border: 2px solid black;
}

.post-content {
    background-color: orange;
}

.post-textarea {
    border-radius: 60px;
    overflow-x: auto;
    height: auto;
    resize: none;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    scrollbar-width: 5px;
}

.post-textarea:hover {
    border-radius: 60px;
    scrollbar-width: thin !important;
}

.post-textarea:focus {
    outline: none !important;
    scrollbar-width: thin !important;
}

.post-textarea::-webkit-scrollbar {
    width: 5px;
}