@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

.main-profile-root-container {
    color: #555555;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-profile-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-header-container {
    padding: 15px 15px 15px 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 700px;
    margin: auto;
}

.profile-feed {
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 700px; 
    position: relative;
}

.profile-header-top-container {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.profile-header-add-friend {
    position: absolute;
    right: 25px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.add-friend-button {
    font-family: 'Poppins', sans-serif;
    background-color: #293e4a !important;
    border: #2c3531 !important;
    border-radius: 15px !important;
    height: 40px !important;
}

.cancel-request-button {
    font-family: 'Poppins', sans-serif;
    background-color: #293e4a !important;
    border: #2c3531 !important;
    border-radius: 15px !important;
    height: 40px !important;
}

.profile-header-username, .update-profile-pic-header-username {
    margin-left: 20px;
    font-size: xx-large;
    font-weight: 500;
}

.profile-header-username img, .update-profile-pic-header-username img {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-right: 10px;
}

.update-profile-pic-header-username img:hover {
    cursor: pointer;
}

.update-profile-pic-button-container {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 70px;
    left: 75px;
    background-color: #dadada;
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
}

.update-profile-pic-button-container:hover {
    cursor: pointer;
    background-color: #cccccc;
}

.favorite-games-header-container {
    display: flex;
    justify-content: space-between;
}

.favorite-games-header {
    font-weight: 500;
    margin: 25px 0px 10px 25px;
}

.add-games-button {
    margin: 25px 15px 10px 25px;
    cursor: pointer;
    font-weight: 500;
    color: #555555;
}

.add-games-button:hover {
    color: #888888;
    text-decoration: none;
}

.favorite-games-slider-container {
    padding: 0px 20px 0px 20px;
}

.see-all-favorite-games {
    font-weight: 500;
    margin: 10px 0px 10px 25px;
}

.bottom-header-container {
    margin-left: 25px;
    display: flex;
}

.bottom-header-container a {
    display: flex;
    font-weight: 500;
    color: #555555;
}

.bottom-header-container a:hover {
    font-weight: 500;
    color: #555555;
}

.bottom-header-container a:focus {
    font-weight: 500;
    color: #555555;
}

.friend-count {
    font-weight: normal;
}

.select-friends {
    margin-left: 10px;
}