.main-search-root-container {
    position: relative;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-search-root-content-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.main-search-content-container {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 700px; 
  
    margin:auto;
    
}