.post-card-container {
    height: 100vh;
}

.post-container {
    overflow-wrap: break-word;
}

.post-seperator {
    border-top: 1px solid #cccccc;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.post-username {
    display: flex;
    flex-direction: row;
   
    font-weight: 500;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.post-username-text {
    margin-left: 10px;
}

.bullet {
    margin-left: 5px;
    margin-right: 5px;
}


.post-date {
    display: flex;
    font-weight: normal;
    color: #888888;
}

.post-username a {
    color: #555555;
}

.post-username a:hover {
    color: #555555;
}

.post-username a:focus {
    color: #555555;
}

.post-text {
   padding: 0px 15px 0px 15px;
}

.post-image img {
    width: 100%;
}

.post-stats-container {
    margin-top: 15px;
    color: #888888;
    display: flex;
    justify-content: space-between;
}

.post-container a {
    color: #555555;
}

.post-container a:hover {
    color: #555555;
    text-decoration: none;
}

.post-container a:visited {
    color: #555555;
}

.num-of-comments {
    margin-left: 15px;
}

.num-of-likes {
    margin-right: 15px;
}

.likes-container {
    display: flex;
}

.likes-container a {
    cursor: pointer;
}

.red-heart {
    animation:fa-beat .5s ease;
}

.heart-outline:hover {
    color: #C41E3A !important;
}

@keyframes fa-beat {
    50% {
        transform: scale(1.25);
    }
    70% {
        transform: scale(1);
    }
}

.like-count {
    margin-left: 5px;
    margin-right: 3px;
}

.like-text {
    width: 32px;
}

