@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 


.login {
    margin:auto;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .25);
    font-family: 'Poppins', sans-serif;
    background-color: blue;
}

.login a {
    color: #293e4a;
}

.login a:visited {
    color: #293e4a;
}

.login a:hover {
    color: #4f768f;
    text-decoration: none;
}

.login h1 {
    margin-top: 50px;
    font-size: 1.8rem;
    font-weight: 500;
}

.welcome {
    margin-top: 30px;
    font-weight: 500;
    width: 350px;
}

.logo {
    margin-top: 120px;
    font-weight: bold;
}

.login-form {
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeef;
    padding: 10px 50px 50px 50px;
    margin: 0 auto;
    border-radius: 0px 5px 5px 0;
}

.login-button {
    font-family: 'Poppins', sans-serif;
    background-color: #293e4a !important;
    border: #2c3531 !important;
    border-radius: 5px !important;
    height: 45px !important;
}

.login-right {
    color: #555555 !important;
    padding-bottom: 50px;
}

.login-error-message {
    color: red;
    margin-top: 25px;
    height: 50px;
}

.login-left {
    background-image: url("../../images/gamerspace-logo-background.png");
    background-size: 922px 540px;
    background-position: left;
}

.form-control {
    background-color: #eeeeef !important;
    margin-bottom: 40px;
    height: 45px !important;
}

@media screen and (min-width: 900px) {
    .login {
        width: 1000px;
        display: flex;
        flex-direction: column;
        border-radius: 5px 5px 5px 5px;
    }

    .login {
        flex-direction: row;
    }

    .login-left {
        font-family: 'Poppins', sans-serif;
        background-color: #293e4a;
        display: flex;
        flex-direction: column;
        width: 48%;
        height: auto;
        text-align: left;
        padding-left: 60px;
        border-radius: 5px 0px 0px 5px;
    }

    .login-right {
        background-color: #eeeeef;
        display: flex;
        flex-direction: column;
        width: 52%;
        height: auto;
        border-radius: 0px 5px 5px 0;
    }
    
    .login-form {
        width: 100%;
    }

    .login-button {
        width: 420px;
    }
}

@media screen and (max-width: 899px) {
    
    .login-form {
        width: 100%;
    }
    .login-left {
        background-color: #293e4a;
        border-radius: 5px 0px 0px 5px;
    }

    .login-left, .signup-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-right {
        background-color: #eeeeef;
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 5px 5px;
    }
    
    .login-button {
        width: 100%
    }
}
