@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

.nav-bar {
    justify-content: space-between !important;
    font-family: 'Poppins', sans-serif;
    background-color: #293E4A;
    box-shadow: 0 2px 4px 0 #222222;
}

#nav-bar-collapse {
    justify-content: space-between !important;
}

.nav-bar-brand {
    width: 33%;
    font-size: 16px !important;
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: 1px 1px #555555;
}

.nav-bar-brand a {
    color: #ffffff !important;
}

.icons-container {
    width: 50%;
    justify-content: center;
}

.icon-container {
    color: #ffffff;
}

.notification-icon-container {
    display: flex;
    position: relative;
}

.friend-request-count {
    position: absolute;
    left: 12px;
    bottom: 8px;
    background-color: #C41E3A;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

#drop-down-settings-button {
    background-color: transparent !important;
    outline: none !important;
    border: none;
}

#drop-down-settings-button:hover, #drop-down-settings-button:focus {
    background-color: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-toggle:after { 
    display: none !important;
    background-color: black !important;
}

.logout-button {
    color: #555555 !important;
}

.search-form-group {
    display: flex;
    position: relative;
}

.search-input {
    border-radius: 20px 20px 20px 20px !important;
}

.search-button {
    position: absolute;
    right: 0;
    height: 45px !important;
    width: 60px !important;
    border-radius: 0px 20px 20px 0px !important;
    background-color: rgba(22, 22, 22, 0) !important;
    outline: none !important;
    border-color: rgba(22, 22, 22, 0) !important;
    color: #555555 !important;
    z-index: 3;
}

.search-button:active, .search-button:focus, .search-button:hover {
    box-shadow: none !important;
    
}

@media screen and (min-width: 1200px) {
    .icon-container {
        margin-right: 25px;
        margin-left: 25px;
    }

    .search-input {
        width: 350px !important;
    }
}

@media screen and (max-width: 1199px) {
    .icon-container {
        margin-right: 10px;
        margin-left: 10px;
    }
}