.favorite-games-modal { 
    height: 500px !important;
    width: 800px !important;
}

.game-search-form-group {
    display: flex;
    position: relative;
    height: 60px;
}

.game-search-input {
    border-radius: 20px !important;
}

.game-search-button {
    position: absolute;
    right: 0;
    height: 45px !important;
    width: 60px !important;
    border-radius: 0px 20px 20px 0px !important;
    background-color: rgba(22, 22, 22, 0) !important;
    outline: none !important;
    border-color: rgba(22, 22, 22, 0) !important;
    color: #555555 !important;
}

.game-search-button:active, .game-search-button:focus, .game-search-button:hover {
    box-shadow: none !important;
}

.game-cards-container {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
}

.game-cards-container::-webkit-scrollbar {
    display: none;
}

.game-card-container {
    display: inline-block;
    width: 33%;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: right;
}

.done-button-container {
    margin-top: 10px;
    text-align: center;
}

.game-card-image {
    width: 100%;
    height: 110px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.game-card-image img{
    object-fit: cover;
    width: 80%;
    height: 110px;
    border-radius: 10px;
}

.select-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    width: 80%;
    height: 110px;
    background-color: rgba(22, 22, 22, 0.6);
    text-align: right;
    border-radius: 10px;
}

.check-mark {
    font-size: 20px;
    font-weight: bold;
    color: #eeeeee;
    margin-right: 15px;
    margin-top: 10px;
}

.check-mark:focus {
    background-color: red;
}

.done-button {
    font-family: 'Poppins', sans-serif;
    background-color: #293e4a !important;
    border: #2c3531 !important;
    border-radius: 15px !important;
    width: 150px;
    height: 35px !important;
}